# ðŸ§  SQL â€“ Essential Commands

## ðŸ“˜ Table of Contents
1. [ðŸ”¸ Selecting Data](#-selecting-data)
2. [ðŸ”¸ Filtering](#-filtering)
3. [ðŸ”¸ Aggregation and Grouping](#-aggregation-and-grouping)
4. [ðŸ”¸ Subqueries](#-subqueries)

## Selecting Data

In [ ]:
SELECT * FROM table;
SELECT name, age FROM customers;

## Filtering

In [ ]:
SELECT * FROM sales WHERE amount > 100;
SELECT * FROM products WHERE name LIKE 'A%';

## Joins

In [ ]:
SELECT a.name, b.sale
FROM customers a
JOIN sales b ON a.id = b.customer_id;

## Aggregation and Grouping

In [ ]:
SELECT category, COUNT(*) FROM products
GROUP BY category;

SELECT customer_id, SUM(amount) FROM sales
GROUP BY customer_id;

## Subqueries

In [ ]:
SELECT name FROM customers
WHERE id IN (SELECT customer_id FROM sales WHERE amount > 500);